<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cheaperPlz</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/cheaperApp.js"></script>
    <script src="scripts/chromeApp.js"></script>
    <script src="scripts/scrape.js"></script>
  </head>
  <body ng-csp ng-app="cheaperApp">

    <div ng-controller="MainCtrl">
      <ul>
        <li ng-repeat="item in items">
          {{item.price}} {{item.name}}
        </li>
      </ul>

      <a href ng-click="scrape()">Add Item</a>
    </div>

  </body>
</html>
