<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cheaper Plz!</title>
    <link rel="stylesheet" href="styles/themed-bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/cheaperApp.js"></script>
    <script src="scripts/chromeApp.js"></script>
  </head>
  <body ng-csp ng-app="cheaperApp">
    <div class="span5" ng-controller="MainCtrl">
      <ul></ul>
      <ul>
      <div class="row">
        <div class="span1"><a href ng-click="scrape()">Add Item</a></div>
        <div class="span3"><a href ng-click="openTab()">Open Tab</a></div>
      </div>
      </ul>
      <ul>
        <div class="row" ng-repeat="item in items">
          <div class="span1">${{item.price}}</div>
          <div class="span3">
          <a href="{{item.url}}" target="_blank">
            {{item.name}}
          </a>
          </div>
        </div>
      </ul>
    </div>
  </body>
</html>
